[submodule "src/ext/xxHash"]
	path = src/ext/xxHash
	url = https://github.com/Cyan4973/xxHash.git
[submodule "src/ext/pybind11"]
	path = src/ext/pybind11
	url = https://github.com/LuisaGroup/pybind11.git
[submodule "src/ext/yyjson"]
	path = src/ext/yyjson
	url = https://github.com/ibireme/yyjson.git
[submodule "src/ext/mimalloc"]
	path = src/ext/mimalloc
	url = https://github.com/LuisaGroup/mimalloc.git
[submodule "src/ext/cpp-httplib"]
	path = src/ext/cpp-httplib
	url = https://github.com/yhirose/cpp-httplib.git
[submodule "src/ext/openssl"]
	path = src/ext/openssl
	url = https://github.com/openssl/openssl.git
